.Login-Body {
    width: 100vw;
    min-height: 100vh;
    background-color: #100e14;
    background-size: cover;
    color: white;
    font-family: 'Cardo', serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    margin: 0;
    padding: 0;
}

.Login-Body > .Button-Row {
    display: flex;
    flex-direction: column;
    position: relative;
}

.Login-Button {
    font-family: 'Cardo', serif;
    border: none;
    background-color: transparent;
    border-radius: 4px;
    padding: 0.5em 1.5em;
    color: white;
    width: 16em;
    height: 3em;
    background-color: #ce9d63;
    font-size: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    transition: ease-out 0.3s;
  }

  .Login-Button:hover {
    background-color: #f8c88e;
    transition: ease-in 0.3s;
  }

  .Login-Button > h3 {
    margin: 0;
  }

  .Login-Button > h5 {
    margin: 0;
  }

  
.inputText {
  width: 15em;
  height: 3em;
  border-radius: 4px;
  padding-left: 1em;
  font-size: 1em;
  background-color: #18161e;
  border: none;
  color: white;
}

input:focus ~ .floating-label,
input:not(:focus):valid ~ .floating-label{
  top: 2px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.2s ease all;
}

p > a {
  color: #ce9d63;
  cursor: pointer;
  transition: ease-out 0.3s;
}

p > a:hover {
  color: #f8c88e;
  transition: ease-in 0.3s;
}

.Red {
  background-color: #FF0000;
}

.Character-Select {
  min-height: 100vh;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
}

Link {
  text-decoration: none;
  color: inherit;
}

.Character-Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  width: 100%;
  text-decoration: inherit;
  color: inherit;
}

.Character-Row > .Character-Row-Description {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}

.Character-Row img {
  height: 130px;
  width: 100px;
  background-color: #ce9d63;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  animation-delay: 0.1s;
  animation-name: fadeInRight;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.Character-Row h5 {
  font-size: 1.1em;
  margin: 0;
}

.Character-Row p {
  color: #a19ca0;
  font-size: 1em;
  margin: 0;
}


.Character-Select > h2 {
  font-size: 1.2em;
  margin: auto;
  color: #bfbbbd;
  text-align: center;
}

.Character-Select > button {
  display: flex;
  font-family: 'Cardo', serif;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  color: white;
  height: 1.5em;
  width: 1.5em;
  background-color: #ce9d63;
  font-size: 2em;
  font-weight: 600;
  padding: 0px;
  justify-self: flex-end;
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: 1em;
  cursor: pointer;
}

.Character-Select > button > h3 {
  font-size: 1em;
  align-self: center;
  justify-self: center;
  margin: auto;
}

.Delete-Char-Button {
  display: flex;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  color: white;
  height: 3em;
  width: 3em;
  background-color: #18161e;
  font-weight: 600;
  padding: 0px;
  margin: 0;
  cursor: pointer;
}

.Delete-Char-Button > h3 {
  font-size: 1.5em;
  align-self: center;
  justify-self: center;
  margin: auto;
}
